<!DOCTYPE HTML>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="One Page Personal HTML Template">

    <title>Fruit Classify</title>

    <link href="../static/fruit/img/favicon.ico" rel="icon" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="../static/fruit/css/bootstrap.min.css">

    <link href="../static/fruit/css/bootstrap-fileinput.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/fruit/css/bootstrap-modal-carousel.css">

    <link rel="stylesheet" type="text/css" href="../static/fruit/css/animated-text.css">

    <link rel="stylesheet" type="text/css" href="../static/fruit/css/custom.css">

    <link rel="stylesheet" type="text/css" href="../static/fruit/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../static/fruit/css/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="../static/fruit/css/owl.transitions.css">

    <link rel="stylesheet" type="text/css" href="../static/fruit/css/animate.css">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500' rel='stylesheet' type='text/css'>



</head>

<body id="page-top" class="index">


<div id="loader">
    <div class="icon"></div>
</div>

<header class="header-img">
    <div class="header-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <h1>简易的水果识别</h1>
                <h2 class="cd-headline clip is-full-width">
								<span class="cd-words-wrapper">
									<b class="is-visible">西瓜 香蕉 桃子 苹果</b>
									<b>草莓 菠萝 柑橘 柠檬</b>
									<b>葡萄 柚子 番茄 梨</b>
								</span>
                </h2>
                <a href="#about" class="page-scroll btn custom-btn-3">点 击 开 始</a>
            </div>
        </div>
    </div>
</header>


<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="sub-headline">运作 原理</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                <h3><span class="number">1.</span>获取 数据集</h3>
                <p>通过在kaggle获取了一套fruit-360数据集来作为训练网络的来源，接着进行了一系列预处理。</p>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
                <h3><span class="number">2.</span>设计 深度学习网络</h3>
                <p>CNN（convolutional neural networks），现在已经被用来应用于各个领域，例如图像分类
                    物体分割，风格转换，自动上色等</p>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-duration="1s" data-wow-delay=".7s">
                <h3><span class="number">3.</span>迭代 训练</h3>
                <p>通过训练的模型结果以及准确率，反复调整模型参数，来优化模型本身。</p>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-duration="1s" data-wow-delay=".9s">
                <h3><span class="number">4.</span>模型 输出</h3>
                <p>最终获得水果识别网络的模型。</p>
            </div>
        </div>
    </div>
</section>

<section id="introduction">
    <div class="container">
        <div class="row">
            <div class="col-md-6 profile">
                <img src="../static/fruit/img/3.jpg" alt="" class="img-responsive center-block">
            </div>
            <div class="col-md-6">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
                    <h2 class="sub-headline">开始识别吧！</h2>
                    <p><u>请注意：</u>&nbsp;经测试，受训练数据集影响，
                        图片最好是白底，单个水果，且像素为100x100的整数倍，这样可以大幅提高识别的
                        准确率。</p>

                    <ul class="info">
                        <li>时间：2020.5</li>
                        <li>作者 : strutnut</li>
                    </ul>
                </div>

                <div class="container">
                    <div class="page-header">
                        <h3>图片上传</h3>
                        <form enctype='multipart/form-data'>
                            <div class="form-group" id="uploadForm">
                                <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                    <div class="fileinput-new thumbnail"
                                         style="width: 200px;height: auto;max-height:150px;">
                                        <img id='picImg' style="width: 100%;height: auto;max-height: 140px;"
                                             src="../static/fruit/images/noimage.png" alt=""/>
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail"
                                         style="max-width: 200px; max-height: 150px;"></div>
                                    <div>
                        <span class="btn btn-primary btn-file">
                            <span class="fileinput-new">选择文件</span>
                            <span class="fileinput-exists">换一张</span>
                            <input type="file" name="image" id="image" accept="image/gif,image/jpeg,image/x-png">
                        </span>
                                        <a href="javascript:;" class="btn btn-warning fileinput-exists"
                                           data-dismiss="fileinput">移除</a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#portfolio1">
                                <button type="button" id="uploadSubmit" class="btn btn-info">提交
                                </button>
                            </a>
                        </form>
                    </div>
                </div>

                <div id="portfolio1" class="modal fade modal-fullscreen force-fullscreen" tabindex="-1" role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>

                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="modal-title">预测结果</h2>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-body">

                                <div class="row top-margin">
                                    <div class="col-md-4 showimg">
                                        <img src="../static/fruit/file/image.jpg" alt=""
                                             class="img-responsive center-block">
                                    </div>
                                    <div class="col-md-8 fruit-content">
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn custom-btn-2 pull-left"
                                                data-dismiss="modal">
                                            关 闭
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script src="../static/fruit/js/jquery.min.js"></script>
                <script src="../static/fruit/js/bootstrap-fileinput.js"></script>
                <script type="text/javascript">
                    $(function () {
                        $('#uploadSubmit').click(function () {
                            console.log("begin");
                            var data = new FormData();
                            if ($('#image')[0].files[0] === undefined) {
                                alert("图片不能为空");
                                return false;
                            }
                            data.append("image", $('#image')[0].files[0]);

                            $.ajax({
                                type: 'POST',
                                url: '/fruit/classify',
                                data: data,
                                contentType: false,
                                async: false,
                                cache: false,
                                processData: false,
                                success: function (res) {
                                    var ruleListTemp = "";
                                    $.each(res, function (key, value) {
                                        console.log(parseInt(value));
                                        ruleListTemp += "<h3>" + key + "</h3>" +
                                            "<p>" + "可能性：" + value + "%</p>";
                                        $(".fruit-content").html(ruleListTemp);
                                    });
                                    currentImg = $('#image')[0].files[0].result;
                                    pic = " <img src=\"" + currentImg + "\" alt=\"\"\n" +
                                        "                                             class=\"img-responsive center-block\">";
                                    $(".showimg").html(pic);

                                },
                                error: function (data) {
                                    console.log(data.status);
                                }
                            });
                        });

                    })
                </script>

            </div>
        </div>
    </div>
</section>


<section id="quotes">
    <div class="container">
        <div class="row">
            <div class="quotes-overlay"></div>
            <div class="col-md-8 col-md-push-2 text-center">
                <h2>到底了~</h2>
            </div>
        </div>
    </div>
</section>

<div class="scroll-top">
    <a class="page-scroll" href="#page-top"><span class="ti-angle-up"></span></a>
</div>

<!-- javascript plugins -->
<script src="../static/fruit/js/jquery-1.11.1.min.js"></script>
<script src="../static/fruit/js/bootstrap.min.js"></script>
<script src="../static/fruit/js/jquery.easing.1.3.min.js"></script>
<script src="../static/fruit/js/appear.js"></script>
<script src="../static/fruit/js/bootstrap-progressbar.min.js"></script>
<script src="../static/fruit/js/owl.carousel.min.js"></script>
<script src="../static/fruit/js/jquery.mixitup.min.js"></script>
<script src="../static/fruit/js/waypoints.min.js"></script>
<script src="../static/fruit/js/jquery.counterup.min.js"></script>
<script src="../static/fruit/js/animated-jquery.js"></script>
<script src="../static/fruit/js/wow.min.js"></script>


<script src="../static/fruit/js/custom.js"></script>

</body>

</html>			